/* Select2 default list */
.select2-results__options li {
  display: none;
}

/* hanya tampilkan 10 pertama */
.select2-results__options li:nth-child(-n+10) {
  display: list-item;
}

/* StyleAccordion PO Barang */

.accordion-button {
  background-color: #01579b;
  color: white;
  font: 20px Roboto, sans-serif;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed):after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
  background-color: #0277bd;
  color: white;
}
.accordion-item {
  background-color: #e1f5fe;
  font: 16px Roboto, sans-serif;
}

/* End StyleAccordion PO Barang */
